 **ANALISIS DATA PENJUALAN SEPEDA MOTOR BEKAS**

In [4]:
import pandas as pd

In [5]:
file = "/content/drive/MyDrive/AVD/BIKE DETAILS.csv"
df = pd.read_csv(file)

df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

# **Business Understanding**

## **Business Objective**


Dataset ini berisi tentang penjualan sepeda motor bekas pakai, terdapat informasi seperti nama jenis motor, harga jual, tahun dibeli, status kepemilikan, kilometer yang sudah ditempuh dan harga penjualan di *showroom* awal beli. Tujuan dilakukannya analisis dari data tersbut ialah untuk mengetahui tren harga jual motor bekas dengan melihat informasi dari kilometer dan tahun pembelian. Selain dari itu, pembeli dapat membandingkan harga sekarang dengan harga dari *showroom* sebelumnya.

## **Assess Situation**


Dataset ini memiliki banyak tantangan, mulai dari banyaknya data yang kurang di bagian *ex_showroom_price* yang menyebabkan sulitnya dilakukan perbandingan harga, selain itu terdapat juga penduplikasian data yang terjadi hingga terdapatnya informasi tentang rentang tahun yang sangat jauh menyebabkan tren harga ikut berubah jauh. Selain hal hal tersebut terdapat juga ketidak konsistenan penulisan di bagian *km_driven* yang kurang masuk akal.

## **Analytic Goals & Project Plan**


Analisis yang dilakukan untuk mengatasi tantangan tangtangan diatas adalah dengan:

*   Menganalisis hubungan antara harga jual dan tahun produksi dengan tujuan untuk mengetahui apakah motor yang keluaran terberu akan lebih mahal atau tidak
*   Melakukan perbandingan harga jual dengan harga penjual dari *showroom*
*   Mengidentifikasi data yang memiliki kekurangan informasi dan terdapat duplikasi agar analisis menjadi lebih akurat
*   Segmentasi berdasarkan merek atau model motor populer



Rencana yang sudah disiapkan berupa:

*   Memahami data dengan mengecek struktur dataset dan mengidentifikasi hilangnya informasi dan duplikasi yang terjadi
*   Mengolah data dengan menghapus data yang terduplikasi dan memperbaiki kesalahan pada penulisan di kilometer jarak tempuh agar konsisten
*   Melakukan eksplorasi data lebih mendalam dan juga analisis segmentasi untuk motor yang bermerek dan bermodel populer yang sedang tren saat ini
*   Membuat *insight* atau kesimpulan dengan menyimpulkan faktor faktor yang memengaruhi harga jual motor bekas dan memberikan rekomendasi kepada pembeli untuk tau kapan waktu yang tepat dalam membeli motor bekas.